*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 1px solid red;
}
.container{
    display: flex;
    gap: 50px;
    max-width: 1100px;  
    margin: 20px 50px;
    
}
.anhchinh {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.anhchinh .anh1 {
    width: 550px;
    height: auto;
    display: block;
}

.zoom-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 50%;
    color: #000;
    text-decoration: none;
}
.anhphu{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    position: relative;
}
.anhphu .trai,
.anhphu .phai {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    text-decoration: none;
    padding: 10px;
    font-size: 40px;
    z-index: 1;
    cursor: pointer;
    
}
 .anhphu button{
background-color: none;
 }
.anhphu .trai {
    left: 0;
}

.anhphu .phai {
    right: 0;
}

.anhphu .trai:hover,
.anhphu .phai:hover {
    color: rgba(255, 255, 255, 0.9);
}
.thongtin h2{
    font-size: 33px;
}
.ghichu1{
    display: flex;
    gap: 5px;
    padding: 20px 0;
}
.dam{
    font-weight:700;
}
.thongtin .gia{
    color: #f15e2c;
    margin-bottom: 20px;
    font-size: 20px;
}
.checkbox{
    padding: 15px 0;
    border-bottom: 1px dashed ;
    border-top: 1px dashed ;
}
.checkbox input{
    height: 20px;
    width: 20px;
    background-color: #74654F;
}
.row{
    display: flex;
    gap: 80px;
}
.size {
    display: inline-block;
}
.size h5{
    font-size: 23px;
    margin: 10px 0;

} 
.size select{
    width: 150px;
    height: 25px;
}

.nut1 input{
background-color: #000;
margin: 20px 0;
border: none;
}
.hang{
    width: 400px;
    height: 50px;
    color: #ffffff;
    font-weight: 700;
    font-size: 17px;
}
.thich{
    margin-left: 30px;
    width: 70px;
    height: 50px;
    color: #ffffff;
   
}
.thanhtoan{
    border: none;
    background-color: #f15e2c;
    height: 50px;
    width: 475px;
    color: #ffffff;
    font-weight: 700;
    font-size: 17px;
}
.chu{
    padding-top: 20px;
    color: #f15e2c;
}
.menu-item {
    border-bottom: 1px dashed #e0e0e0;
    margin-bottom: 10px;
}

.menu-item summary {
    cursor: pointer;
    padding: 20px 0;
    list-style: none;
    display: flex;
    gap: 10px;
    border-bottom: 1px dashed #e0e0e0;
    align-items: center;
    
}
.menu-item[open] summary {
    color:#f15e2c ;
}
.menu-item summary::after {
    content: '\25BC';
    transition: transform 0.3s ease;
    
}

.menu-item[open] summary::after {
    transform: rotate(180deg);

}

.menu-content {
    padding: 10px 0;
}