*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.container{
display: flex;
gap: 50px;
height: 610px;
}
.macbook2{
    border: 1px solid #bebebe;
    max-width: 600px;
    border-radius: 5px;
}
.anh{
    width: 100%;
}
.menu{
display: flex;
justify-content: space-between;
}
.menu a,.menu input{
border: none;
padding: 15px;
border-radius: 5px;
text-decoration: none;
color:white;
font-weight:700;
}
.dell{
    border: 1px solid #bebebe;
    border-radius: 5px;
    max-width: 600px;
}
.container h3{
    padding: 10px;
    
}
.tien{
    background-color:#e77c58 ;
    margin-left: 5px;
}
.add{
    background-color: rgb(110, 192, 28);
   margin-right:5px;
}
table, td{
    border:0.5px solid #d4d4d4 ;
    
}
table{
width: 100%;
border-spacing: 0px;

}
.table1 td{
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    letter-spacing: 2%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.table1{
    margin-top: 50px;
}
tr:nth-child(2n){
    background-color:#e77c58 }