*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.container{
    display: flex;
    gap: 10px;
}
.sp{
    display: flex   ;
    border-top: 1px solid;
    border-bottom:1px solid ;
    gap: 20px;
    
}
img{
    width: 100px;
    height: 100px;
}
.giohang{
    margin-top: 20px;
    
}
.chugh, .thanhtien{
    margin-top: 10px;
}
.chugh p{
padding-top: 10px;
}
.cc1{
    display: flex;
    
    
}
.cc1 input {
    padding: 5px;
    width: 70px;
    background-color: white;
    border: 1px solid;
}
.cc1 p{
    padding: 5px 20px;
    
}
.tongtien{
    display: flex;
    
}
.tiencuoi{
    font-weight: 700;
    margin-left: 3px;
}
.tongcong{
    display: flex;
    background-color: #ddd;
    padding-left: 300px; 
    padding: 5px 0 5px 300px ;
}
.xoa{
    cursor: pointer;
}
.thongtin {


}
tr:nth-child(2n+1){
    background-color: red;
}
h2{
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 5px;
}
.chu{
    font-size: 15px;
    font-weight: 700;
}

.o{
    margin: 10px 0;
    width: 600px;
    padding: 10px;
}
.nut1, .nut2{
    color: aliceblue;
    font-weight: 700;
    border: none;
}
.nut1{
    background-color: cadetblue;
}
.nut2{
    background-color: chocolate;
}

